
.row{
  margin-right: 0;
  margin-left: 0;
}
.portfolio {

  .orang {
    background-color: #fcca03;
  }

  .row {
    .col-md-3 {
      padding: 0;
    }
  }
}

div.row.bg-orange {
  padding-left: 20px;
  font-family: $ralewayFont;

  background-color: #fcca03;
  display: flex;
  align-items: center;
  position: relative;

  .col-md-3 {

    i.fa {
      font-size: 70px;
      color: #7f727217;
      position: absolute;
      margin-left: -30px;

    }
  }
}
