hr{
  border-bottom: 2px solid black;
  width:40px;
}
.head{
  // width: 50%;
  // display: flex;

}
h2{
  padding: 0;
  font-family: $ralewayFont;
}
h5{
    font-family: Kaushan Script;
}
i.fa{
  font-size: 30px;
  color: #fcca03;
}
