$decoration:none;
$margin:0 auto;
$grey:rgba(255,255,255,.7);
$font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
$contentMargin:0 auto;
$font:33px;
$bckGrndColor:black;
$color:rgb(29, 28, 28);
$ralewayFont: 'raleway';
