.contact{
  .fa{
    font-size: 50px;
  }
}
.header {
  background-image: url("../../images/contact/section-bg-10.jpg");
  height: 50vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
hr {
  border: 1px solid #fcca03;

  width: 30px;

}
